dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webcast: Introduction to Using GitLab">
    <title>GitLab March 1, 2018 Webcast</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
      <div class="content"><img class="logo" src="images/logo.svg" alt="GitLab Logo"></div>
      <div class="h1bg">
        <div class="content">
          <h1>Webcast: Introduction to Using GitLab</h1>
          <p><a class="button" href="#reserve">Reserve Your Spot</a></p>
        </div>
      </div>
    </header>
    <div class="content cf">
      <section>
        <h2>Webcast Topics</h2>
        <p>Join us in March for a webcast discussing GitLab with both new and experienced users. We are excited to walk you through the benefits of using GitLab and discussing how it can best help you in an interactive format. In this month’s webcast, we will be discussing the following topics:</p>
        <ul>
          <li>Overview of GitLab and the benefits of using it as a collaboration tool</li>
          <li>Walk-through of GitLab features and highlights</li>
          <li>Getting started with using GitLab</li>
          <li>Q&amp;A session: Questions answered live on the webcast</li>
        </ul>
        <p>We are excited to be able to show you the many benefits of using GitLab and look forward to seeing you. Don't forget to read more about our <a href="#speaker">webcast host</a> for March!</p>
      </section>
      <section id="reserve">
        <h3>Register for Introduction to Using GitLab</h3>
        <p>This webcast begins in <span id="countdown"></span>. Can't make it at that time? That's OK! Register anyway and we'll send you the recording.</p>
        <p><span class="datetime"><img class="cal-icon" src="images/calendar-icon.svg" alt="Calendar Icon">March 1, 2018 from 12 p.m. to 1 p.m EST</span></p>
        <form>
          <label for="name"><span class="asterisk">*</span>Name
            <input type="text" aria-required="true" name="Name" title="Name of participant" required>
          </label>
          <label for="email"><span class="asterisk">*</span>Email
            <input type="email" aria-required="true" name="Email" title="Email Address" required>
          </label>
          <label for="countries"> Country
            <select name="countries" title="Countries">
              <option value="Please select country" disabled selected>Please select country</option>
              <option value="United States">United States</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote D'ivoire">Cote D'ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-bissau">Guinea-bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
              <option value="Korea, Republic of">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
              <option value="Moldova, Republic of">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russian Federation">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Helena">Saint Helena</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia and Montenegro">Serbia and Montenegro</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
              <option value="Taiwan, Province of China">Taiwan, Province of China</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-leste">Timor-leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Viet Nam">Viet Nam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </label>
          <input class="submit button" type="submit" value="Reserve My Spot">
        </form>
      </section>
    </div>
    <footer>
      <div class="prefooter">
        <div class="content cf" id="speaker">
          <h3>Webcast Speaker</h3>
          <p>Angela Van Winkle is the Marketing Web Designer and Developer at GitLab. She has 6+ years designing and developing websites and has a passion for web design. Angela brings a wealth of knowledge from various companies and she believes that the best solutions start with great communication, teamwork and iteration. On her free time, Angela enjoys traveling to different countries, attending concerts and spending time with her family.</p>
        </div>
        <div class="bio-container content cf"><img class="bio-img lfloat" src="images/angela-circle.png" alt="Angela Van Winkle">
          <div class="bio-content lfloat">
            <h4>Angela Van Winkle</h4>
            <p><em>GitLab Web Designer/Developer</em>	</p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="content">
          <p class="small">Copyright &copy; 2018 GitLab</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/fileSaver.js"></script>
    <script type="text/javascript" src="js/ics.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
  </body>
</html>

src/index.pug

doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='HandheldFriendly' content='True')
		meta(name='MobileOptimized' content='320')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Webcast: Introduction to Using GitLab')
		title GitLab March 1, 2018 Webcast
		link(rel='stylesheet' type='text/css' href='/css/styles.css')

	body
		header
			.content
				img.logo(src="images/logo.svg" alt="GitLab Logo")

			.h1bg
				.content
					h1 Webcast: Introduction to Using GitLab
					p #[a.button(href="#reserve") Reserve Your Spot]

		.content.cf
			section
				h2 Webcast Topics
				p Join us in March for a webcast discussing GitLab with both new and experienced users. We are excited to walk you through the benefits of using GitLab and discussing how it can best help you in an interactive format. In this month’s webcast, we will be discussing the following topics:
				ul
					li Overview of GitLab and the benefits of using it as a collaboration tool
					li Walk-through of GitLab features and highlights
					li Getting started with using GitLab
					li Q&amp;A session: Questions answered live on the webcast

				p We are excited to be able to show you the many benefits of using GitLab and look forward to seeing you. Don't forget to read more about our #[a(href="#speaker") webcast host] for March!

			section#reserve
				h3 Register for Introduction to Using GitLab
				p This webcast begins in #[span#countdown]. Can't make it at that time? That's OK! Register anyway and we'll send you the recording.
				p #[span.datetime #[img.cal-icon(src="images/calendar-icon.svg" alt="Calendar Icon")]March 1, 2018 from 12 p.m. to 1 p.m EST]

				form
					label(for="name") #[span.asterisk *]Name
						input(type="text" aria-required="true" name="Name" title="Name of participant" required)
					label(for="email") #[span.asterisk *]Email
						input(type="email" aria-required="true" name="Email" title="Email Address" required)
					label(for="countries")  Country
						select(name="countries" title="Countries")
							option(value="Please select country" disabled selected) Please select country
							option(value="United States") United States
							option(value="United Kingdom") United Kingdom
							option(value="Afghanistan") Afghanistan
							option(value="Albania") Albania
							option(value="Algeria") Algeria
							option(value="American Samoa") American Samoa
							option(value="Andorra") Andorra
							option(value="Angola") Angola
							option(value="Anguilla") Anguilla
							option(value="Antarctica") Antarctica
							option(value="Antigua and Barbuda") Antigua and Barbuda
							option(value="Argentina") Argentina
							option(value="Armenia") Armenia
							option(value="Aruba") Aruba
							option(value="Australia") Australia
							option(value="Austria") Austria
							option(value="Azerbaijan") Azerbaijan
							option(value="Bahamas") Bahamas
							option(value="Bahrain") Bahrain
							option(value="Bangladesh") Bangladesh
							option(value="Barbados") Barbados
							option(value="Belarus") Belarus
							option(value="Belgium") Belgium
							option(value="Belize") Belize
							option(value="Benin") Benin
							option(value="Bermuda") Bermuda
							option(value="Bhutan") Bhutan
							option(value="Bolivia") Bolivia
							option(value="Bosnia and Herzegovina") Bosnia and Herzegovina
							option(value="Botswana") Botswana
							option(value="Bouvet Island") Bouvet Island
							option(value="Brazil") Brazil
							option(value="British Indian Ocean Territory") British Indian Ocean Territory
							option(value="Brunei Darussalam") Brunei Darussalam
							option(value="Bulgaria") Bulgaria
							option(value="Burkina Faso") Burkina Faso
							option(value="Burundi") Burundi
							option(value="Cambodia") Cambodia
							option(value="Cameroon") Cameroon
							option(value="Canada") Canada
							option(value="Cape Verde") Cape Verde
							option(value="Cayman Islands") Cayman Islands
							option(value="Central African Republic") Central African Republic
							option(value="Chad") Chad
							option(value="Chile") Chile
							option(value="China") China
							option(value="Christmas Island") Christmas Island
							option(value="Cocos (Keeling) Islands") Cocos (Keeling) Islands
							option(value="Colombia") Colombia
							option(value="Comoros") Comoros
							option(value="Congo") Congo
							option(value="Congo, The Democratic Republic of The") Congo, The Democratic Republic of The
							option(value="Cook Islands") Cook Islands
							option(value="Costa Rica") Costa Rica
							option(value="Cote D'ivoire") Cote D'ivoire
							option(value="Croatia") Croatia
							option(value="Cuba") Cuba
							option(value="Cyprus") Cyprus
							option(value="Czech Republic") Czech Republic
							option(value="Denmark") Denmark
							option(value="Djibouti") Djibouti
							option(value="Dominica") Dominica
							option(value="Dominican Republic") Dominican Republic
							option(value="Ecuador") Ecuador
							option(value="Egypt") Egypt
							option(value="El Salvador") El Salvador
							option(value="Equatorial Guinea") Equatorial Guinea
							option(value="Eritrea") Eritrea
							option(value="Estonia") Estonia
							option(value="Ethiopia") Ethiopia
							option(value="Falkland Islands (Malvinas)") Falkland Islands (Malvinas)
							option(value="Faroe Islands") Faroe Islands
							option(value="Fiji") Fiji
							option(value="Finland") Finland
							option(value="France") France
							option(value="French Guiana") French Guiana
							option(value="French Polynesia") French Polynesia
							option(value="French Southern Territories") French Southern Territories
							option(value="Gabon") Gabon
							option(value="Gambia") Gambia
							option(value="Georgia") Georgia
							option(value="Germany") Germany
							option(value="Ghana") Ghana
							option(value="Gibraltar") Gibraltar
							option(value="Greece") Greece
							option(value="Greenland") Greenland
							option(value="Grenada") Grenada
							option(value="Guadeloupe") Guadeloupe
							option(value="Guam") Guam
							option(value="Guatemala") Guatemala
							option(value="Guinea") Guinea
							option(value="Guinea-bissau") Guinea-bissau
							option(value="Guyana") Guyana
							option(value="Haiti") Haiti
							option(value="Heard Island and Mcdonald Islands") Heard Island and Mcdonald Islands
							option(value="Holy See (Vatican City State)") Holy See (Vatican City State)
							option(value="Honduras") Honduras
							option(value="Hong Kong") Hong Kong
							option(value="Hungary") Hungary
							option(value="Iceland") Iceland
							option(value="India") India
							option(value="Indonesia") Indonesia
							option(value="Iran, Islamic Republic of") Iran, Islamic Republic of
							option(value="Iraq") Iraq
							option(value="Ireland") Ireland
							option(value="Israel") Israel
							option(value="Italy") Italy
							option(value="Jamaica") Jamaica
							option(value="Japan") Japan
							option(value="Jordan") Jordan
							option(value="Kazakhstan") Kazakhstan
							option(value="Kenya") Kenya
							option(value="Kiribati") Kiribati
							option(value="Korea, Democratic People's Republic of") Korea, Democratic People's Republic of
							option(value="Korea, Republic of") Korea, Republic of
							option(value="Kuwait") Kuwait
							option(value="Kyrgyzstan") Kyrgyzstan
							option(value="Lao People's Democratic Republic") Lao People's Democratic Republic
							option(value="Latvia") Latvia
							option(value="Lebanon") Lebanon
							option(value="Lesotho") Lesotho
							option(value="Liberia") Liberia
							option(value="Libyan Arab Jamahiriya") Libyan Arab Jamahiriya
							option(value="Liechtenstein") Liechtenstein
							option(value="Lithuania") Lithuania
							option(value="Luxembourg") Luxembourg
							option(value="Macao") Macao
							option(value="Macedonia, The Former Yugoslav Republic of") Macedonia, The Former Yugoslav Republic of
							option(value="Madagascar") Madagascar
							option(value="Malawi") Malawi
							option(value="Malaysia") Malaysia
							option(value="Maldives") Maldives
							option(value="Mali") Mali
							option(value="Malta") Malta
							option(value="Marshall Islands") Marshall Islands
							option(value="Martinique") Martinique
							option(value="Mauritania") Mauritania
							option(value="Mauritius") Mauritius
							option(value="Mayotte") Mayotte
							option(value="Mexico") Mexico
							option(value="Micronesia, Federated States of") Micronesia, Federated States of
							option(value="Moldova, Republic of") Moldova, Republic of
							option(value="Monaco") Monaco
							option(value="Mongolia") Mongolia
							option(value="Montserrat") Montserrat
							option(value="Morocco") Morocco
							option(value="Mozambique") Mozambique
							option(value="Myanmar") Myanmar
							option(value="Namibia") Namibia
							option(value="Nauru") Nauru
							option(value="Nepal") Nepal
							option(value="Netherlands") Netherlands
							option(value="Netherlands Antilles") Netherlands Antilles
							option(value="New Caledonia") New Caledonia
							option(value="New Zealand") New Zealand
							option(value="Nicaragua") Nicaragua
							option(value="Niger") Niger
							option(value="Nigeria") Nigeria
							option(value="Niue") Niue
							option(value="Norfolk Island") Norfolk Island
							option(value="Northern Mariana Islands") Northern Mariana Islands
							option(value="Norway") Norway
							option(value="Oman") Oman
							option(value="Pakistan") Pakistan
							option(value="Palau") Palau
							option(value="Palestinian Territory, Occupied") Palestinian Territory, Occupied
							option(value="Panama") Panama
							option(value="Papua New Guinea") Papua New Guinea
							option(value="Paraguay") Paraguay
							option(value="Peru") Peru
							option(value="Philippines") Philippines
							option(value="Pitcairn") Pitcairn
							option(value="Poland") Poland
							option(value="Portugal") Portugal
							option(value="Puerto Rico") Puerto Rico
							option(value="Qatar") Qatar
							option(value="Reunion") Reunion
							option(value="Romania") Romania
							option(value="Russian Federation") Russian Federation
							option(value="Rwanda") Rwanda
							option(value="Saint Helena") Saint Helena
							option(value="Saint Kitts and Nevis") Saint Kitts and Nevis
							option(value="Saint Lucia") Saint Lucia
							option(value="Saint Pierre and Miquelon") Saint Pierre and Miquelon
							option(value="Saint Vincent and The Grenadines") Saint Vincent and The Grenadines
							option(value="Samoa") Samoa
							option(value="San Marino") San Marino
							option(value="Sao Tome and Principe") Sao Tome and Principe
							option(value="Saudi Arabia") Saudi Arabia
							option(value="Senegal") Senegal
							option(value="Serbia and Montenegro") Serbia and Montenegro
							option(value="Seychelles") Seychelles
							option(value="Sierra Leone") Sierra Leone
							option(value="Singapore") Singapore
							option(value="Slovakia") Slovakia
							option(value="Slovenia") Slovenia
							option(value="Solomon Islands") Solomon Islands
							option(value="Somalia") Somalia
							option(value="South Africa") South Africa
							option(value="South Georgia and The South Sandwich Islands") South Georgia and The South Sandwich Islands
							option(value="Spain") Spain
							option(value="Sri Lanka") Sri Lanka
							option(value="Sudan") Sudan
							option(value="Suriname") Suriname
							option(value="Svalbard and Jan Mayen") Svalbard and Jan Mayen
							option(value="Swaziland") Swaziland
							option(value="Sweden") Sweden
							option(value="Switzerland") Switzerland
							option(value="Syrian Arab Republic") Syrian Arab Republic
							option(value="Taiwan, Province of China") Taiwan, Province of China
							option(value="Tajikistan") Tajikistan
							option(value="Tanzania, United Republic of") Tanzania, United Republic of
							option(value="Thailand") Thailand
							option(value="Timor-leste") Timor-leste
							option(value="Togo") Togo
							option(value="Tokelau") Tokelau
							option(value="Tonga") Tonga
							option(value="Trinidad and Tobago") Trinidad and Tobago
							option(value="Tunisia") Tunisia
							option(value="Turkey") Turkey
							option(value="Turkmenistan") Turkmenistan
							option(value="Turks and Caicos Islands") Turks and Caicos Islands
							option(value="Tuvalu") Tuvalu
							option(value="Uganda") Uganda
							option(value="Ukraine") Ukraine
							option(value="United Arab Emirates") United Arab Emirates
							option(value="United Kingdom") United Kingdom
							option(value="United States") United States
							option(value="United States Minor Outlying Islands") United States Minor Outlying Islands
							option(value="Uruguay") Uruguay
							option(value="Uzbekistan") Uzbekistan
							option(value="Vanuatu") Vanuatu
							option(value="Venezuela") Venezuela
							option(value="Viet Nam") Viet Nam
							option(value="Virgin Islands, British") Virgin Islands, British
							option(value="Virgin Islands, U.S.") Virgin Islands, U.S.
							option(value="Wallis and Futuna") Wallis and Futuna
							option(value="Western Sahara") Western Sahara
							option(value="Yemen") Yemen
							option(value="Zambia") Zambia
							option(value="Zimbabwe") Zimbabwe

					input.submit.button(type="submit" value="Reserve My Spot")

		footer
			.prefooter
				.content.cf#speaker
					h3 Webcast Speaker
					p Angela Van Winkle is the Marketing Web Designer and Developer at GitLab. She has 6+ years designing and developing websites and has a passion for web design. Angela brings a wealth of knowledge from various companies and she believes that the best solutions start with great communication, teamwork and iteration. On her free time, Angela enjoys traveling to different countries, attending concerts and spending time with her family.
				.bio-container.content.cf
					img.bio-img.lfloat(src="images/angela-circle.png" alt="Angela Van Winkle")
					.bio-content.lfloat
						h4 Angela Van Winkle
						p #[em GitLab Web Designer/Developer]	

			.copyright
				.content
					p.small Copyright &copy; 2018 GitLab

		script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(type="text/javascript" src='js/fileSaver.js')
		script(type="text/javascript" src='js/ics.js')
		script(type="text/javascript" src='js/functions.js')
